In [1]:
import pandas as pd

df = pd.read_csv( file path either by / or \\ slash )

In [2]:
df = pd.read_csv("Salaries.csv")             # First upload the file then read it in new df by direct name.

In [ ]:
import warnings
warnings.filterwarnings('ignore')                 # To ignore warnings for numeric cal.

In [ ]:
df                                             # View df

In [ ]:
dir(pd)                                 # Give all fun list for pd

In [ ]:
type(df)

In [ ]:
df.dtypes                                     # Give datatypes of all columns

In [ ]:
df.describe()                             # All basic numeric statistics gives

In [ ]:
df.info()                            # Give info of df

In [ ]:
df.shape                              # Give how many rows and column in df

In [ ]:
df.shape[0]              # [0] for rows

In [ ]:
df.shape[1]                # 1 for col

In [ ]:
df.columns                      # Give column names of df

In [ ]:
df.head()                      # Head for Top 5 default records

In [ ]:
df.head(10)                   # Head for Top 10 default records

In [ ]:
df.head(50).mean()              # Give mean value for each column of Top 50 records

In [ ]:
df['salary'].head(10).mean()            # Give mean of Top 10 salary records

In [ ]:
df[['salary']].head(10).mean()            # Give mean of Top 10 salary records in tabular format

In [ ]:
df.tail()            # Tail for bottom default 5 records

In [ ]:
df.tail(10)            # Tail for bottom default 10 records

In [ ]:
df.max()                      # Give max value of each column

In [ ]:
df.min()                         # Give min value of each column

In [ ]:
df.mean()

In [ ]:
df.median()

In [ ]:
df.mode()                                               # nan means not a number

In [ ]:
df.var()

In [ ]:
df.std()

In [ ]:
df.skew()

In [ ]:
df.kurt()

In [ ]:
df.sum()

In [ ]:
df.salary                                   # If some column like sr.no then error come due to (.) so .[colname]

In [ ]:
df['salary']                          # Give only salary column & values

In [ ]:
df[['salary']]                      # Give salary column in tabular format

In [ ]:
df[['salary','phd','service']]            # Give more columns use two braces [[ ]]

In [ ]:
newdf=df[['salary','service','phd']]           # Extracts particular column in newdf    
newdf

In [ ]:
newdf=df[['salary','service','phd']].mean()       # Extracts particular column in newdf & give mean value of that column   
newdf

In [ ]:
df.salary.describe()                 # Give all basic numeric stat of salary column  but dont use this

In [ ]:
df['salary'].describe()              # Give all basic numeric stat of salary column

In [ ]:
df[['salary']].describe()               # Give all basic numeric stat of salary column in tabular format

In [ ]:
df[['salary']].mean()               # Give mean of salary in tabular format ( Apply all fun ind=stead of mean)

In [ ]:
df[['salary']].sum()

In [ ]:
df[df.salary>120000]

In [ ]:
df[df['salary']<120000]

In [ ]:
df[df['salary']>120000].shape[0]

In [ ]:
df[df.salary>120000].shape[1]

In [ ]:
df[df.salary>120000].count()

In [ ]:
df[df['salary']<120000].count()

In [ ]:
df[df['salary']==120000]

In [ ]:
df[df['sex']=='Female']

In [ ]:
df[  (df['rank']=='Prof') &  (df['discipline']=='A')  & (df[ 'sex']=='Female')    ]

In [ ]:
x=df[(df['sex']=='Female') & (df['salary']<120000)]
x

In [ ]:
x.shape

In [ ]:
x.describe()

In [ ]:
x.sum()

In [ ]:
newdf=df[(df['sex']=="Male") & (df['salary']>150000)]
newdf

In [ ]:
df[df['rank']!='prof'].shape[0]

In [ ]:
df[(df['service']>15) | (df['salary']>100000)].shape[0]

In [ ]:
df[['salary','phd']].mean()              # Give mean of salary & phd column

In [ ]:
df[['salary']].head(10).mean()     # Give mean of Top 10 salary records in tabular format(Apply all fun ind=stead of mean)

In [ ]:
df[['salary','phd']].head(50).mean()

In [ ]:
df.salary.quantile(0.25)              # Give quantile value of 25 %

In [ ]:
df['salary'].quantile(0.50)              # Give quantile value of 25 %

In [ ]:
df[['salary']].quantile(0.75)            # Give quantile value of 25 % in tabular format

In [ ]:
df[['salary']].quantile([0.75,0.20,0.50])

In [ ]:
result=df[['salary']]                                   # 
result

In [ ]:
type(result)

In [ ]:
result1=df[['salary','phd']]
result1

In [ ]:
type(result1)

In [ ]:
df[['salary']].count()                               #  count records of salary

In [ ]:
df['rank'].count()                                    #  count records of rank

In [ ]:
df['rank'].value_counts()                         # Categorical count of rank

In [ ]:
df['discipline'].count()

In [ ]:
df['discipline'].value_counts()               # Give unique category & value of decipline

In [ ]:
df.groupby(['discipline']).count()

In [ ]:
df.groupby(['discipline','rank']).count()

In [ ]:
df.groupby(['discipline','rank','sex']).count()

In [4]:
df.groupby(['discipline','rank','sex']).mean()

                                   phd    service         salary
discipline rank      sex
A          AssocProf Female  18.500000  15.500000   72128.500000
                     Male    20.000000  17.000000   81285.000000
           AsstProf  Female   4.833333   2.500000   72933.333333
                     Male     3.000000   1.000000   79000.000000
           Prof      Female  26.500000  16.125000  109631.875000
                     Male    28.933333  22.733333  113164.400000
B          AssocProf Female  13.500000   8.833333   99435.666667
                     Male    10.500000   7.500000  113404.000000
           AsstProf  Female   6.600000   2.600000   84189.800000
                     Male     4.666667   2.000000   88224.000000
           Prof      Female  21.500000  17.900000  131836.200000
                     Male    29.538462  25.846154  137989.076923

In [3]:
df.groupby('rank')[['service','phd']].mean()

             service        phd
rank
AssocProf  11.307692  15.076923
AsstProf    2.210526   5.052632
Prof       21.413043  27.065217

In [ ]:
df['sex'].value_counts()               # Give unique category & value of sex

In [ ]:
df.groupby(['rank']).count()

In [ ]:
grouped=df.groupby('rank')
grouped                                                     # all df grup by rean and saving in grouped

In [ ]:
grouped.count()

In [ ]:
grouped.max()

In [ ]:
type(grouped)

In [ ]:
for g in grouped:
    print(g)

In [ ]:
df.groupby(['rank']).mean()                      # grup by rank and give mean of df numeric of all column

In [ ]:
df.groupby('rank')[['salary','phd']].mean()             # grup by rank and give mean of salary and phd

In [ ]:
df[df.salary>120000].shape[0]                # count of prof having sal > 120000

In [ ]:
newdf=df[(df['sex']=='Male') & (df['salary']>150000)]
newdf

In [ ]:
df[df['rank']!='Prof'].shape[0]

In [ ]:
df[(df['service']>15) | (df['salary']>100000)].shape[0]

Calculate the basic statistics for the Phd column;

Find how many values in the Phd column (use count method);

Calculate the average Phd;

In [ ]:
df['phd'].describe()

In [ ]:
df["phd"].count()

In [ ]:
## iloc  -----> index location

df.iloc[[50]]                  # display 50 th record

In [ ]:
df.iloc[:,:]                      # give all rows all columns   index location

In [ ]:
df.iloc[0:50,]                # Give 1st 50 records of all columns

In [ ]:
df.iloc[1:4, 0:3]    # Give info of 1st to 3rd  rows and 1st 3 columns

In [ ]:
df.iloc[0:10,0:3]             # Give info of 1st 10 rows and 1st 3 columns

In [ ]:
df.iloc[:,4]

In [ ]:
df.iloc[0:50,[1,3,5]]     # Give 1st to 49 rows and 1,3,5 columns

In [ ]:
df.iloc[[10,20,22,24],] # only particular rows with all columns

In [ ]:
df.iloc[::5] # all rows and columns with step value 5

In [ ]:
df.iloc[10:30:4]

In [ ]:
df.iloc[::-1] # all records in reverse order

In [ ]:
df.loc[[0,1,2],['discipline','rank']]

In [ ]:
df.iloc[:,0:3]

### Create new data frame

In [ ]:
df_50=df.head(50)
print(df_50)

In [ ]:
df_50.mean()

In [ ]:
df.head(50).mean()


Aggregation Function in Pandas Aggreation - Computing a summary statistic about each group

Common aggregation functions are:min,max,count,sum,prod,mean,median,mode,mad,std,var

In [ ]:
# Compute group sums or means
# Compute group sizes or counts
# agg() or aggregate()  - useful when multiple statistics are computed per column
# Here's how to calculate the mean absolute deviation - mad().
#Step 1: Calculate the mean.
#Step 2: Calculate how far away each data point is from the mean using positive distances. These are called absolute deviations.
#Step 3: Add those deviations together.
#Step 4: Divide the sum by the number of data points.

df[['phd','salary']].agg(['min','mean','max','mad','std'])

In [ ]:
df[['salary']].agg('skew')

In [ ]:
df[['salary']].agg('kurt')

In [ ]:
df.var()

In [ ]:
df.sem() #std error of mean - Standard error i.e.Sigma / square root of n